<template>
  <div>
    <NavBar :first_name="firstName"></NavBar>


  </div>
</template>

<script>
  import NavBar from '@/components/NavBar.vue'

  export default{
  
      // eslint-disable-next-line vue/multi-word-component-names
      name: 'Home',

      components:{
      NavBar,

      },

      data(){
          return{
            first_name:'',
          };
      },
  }
</script>
