<template>
    <div class="grid h-screen justify-items-stretch">
        <div class="flex items-center bg-white justify-center p-8">
            <div class="border-2 border-solid border-grey-300 drop-shadow-lg rounded-lg p-8 bg-gray-100">
                <div>
                    <h2 class="flex justify-center text-2xl font-bold pb-2">
                        Login
                    </h2>
                </div>
                <!-- Alert -->
                <div v-if="alert" :class="`flex p-4 mb-4 text-sm text-${response.color}-700 bg-${response.color}-100 rounded-lg`" role="alert">
                    <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                    <div>
                      <span class="font-medium">{{response.message}}</span>
                    </div>
                  </div>
                <div>
                    <form @submit.prevent="submit">
                        <div class="p-4">
                            <div class="text-left">
                                <label for="email">E-mail</label>
                            </div>
                            <div>
                                <input 
                                    type="email" name="email" id="email"
                                    placeholder="E-mail"
                                    @change="v$.email.$touch"
                                    @focus="resetResponse()"
                                    v-model="v$.email.$model"
                                    class="p-2 rounded-md focus:bg-gray-100 text-Neutral-800 w-full"
                                >
                                <p v-if="v$.email.$error" class="text-xs text-red-700">Preencha com e-mail válido.</p>
                            </div>
                        </div>
            
                        <div class="p-4">
                            <div class="text-left">
                                <label for="password">Senha</label>
                            </div>
                            <div class="flex">
                                <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-l-md border border-r-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                                    <button  @click.prevent.stop="mostrar()">
                                       
                                        <svg v-if="mostrarSenha" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                        </svg>

                                        <svg v-if="!mostrarSenha" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" />
                                        </svg>
                                          
                                          
                                    </button>
                                  </span>
                                <input 
                                    :type="tipo" name="password" id="password"
                                    @change="v$.password.$touch"
                                    @focus="resetResponse()"
                                    placeholder="Senha"
                                    v-model="v$.password.$model"
                                    class="p-2 rounded-r-md focus:bg-gray-100 text-Neutral-800 w-full"
                                >
                                
                            </div>
                            <p v-if="v$.password.$error" class="text-xs text-red-700">Campo obrigatório</p>
                        </div>

                        <div class="mt-4 text-sm text-blue-600 text-left">
                            <router-link to="/esqueci-senha">Esqueci minha senha.</router-link>
                        </div>
            
                        <div class="pt-6 ">
                            <button type="submit"
                                @click.prevent.stop="login()"
                                class="bg-blue-600 p-2 w-full text-white font-bold rounded-lg focus:bg-blue-400 flex justify-center"
                            >

                            <div  v-if="spinner.login" role="status">
                                <svg class="inline mr-2 w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-gray-600 dark:fill-gray-300" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                                </svg>
                            </div>

                                ENTRAR
                            </button>
                        </div>
                        <div class="mt-4 text-sm text-gray-600">
                            <label>Não tem uma conta? </label>
                            <router-link class="text-blue-600 font-bold" to="/registro">Nova Conta</router-link>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Cookie from '@/service/cookie';
    import useVuelidate from '@vuelidate/core'
    import { required, email } from '@vuelidate/validators'
    import message from '@/utils/message'

    export default{

        name: 'LoginView',

        setup () {
            return { v$: useVuelidate() }
        },

        data(){
            return {
                email: '',
                password: '',
                mostrarSenha: false,
                alert: false,
                response:{
                            color: '',
                            message: '',
                        },
                spinner:{
                            login: false,
                        },
                tipo: 'password',
            }
        },

        validations(){
            return {
                email: {required, email},
                password: {required}
            }
        },

        methods:{
                async login(){
                        
                    const validar = await this.v$.$validate();
                    
                    if (!validar) {return;}
                    const payload ={
                        email: this.email,
                        password: this.password,
                    };

                    this.resetResponse();
                    this.spinner.login =true;
                    
                    this.$axios.post('/v1/login', payload).then((response)=> {
                    const token = `${response.data.token_type} ${response.data.access_token}`;
                    Cookie.setToken(token);
                    this.$store.commit('user/STORE_USER', response.data.data);

                    this.$router.push({name: 'index'});
                    
                    }).catch((e)=> {
                        const errorCode = e?.response?.data?.error || 'serverError';
                        this.spinner.login =false;
                        this.alert = true;
                        this.response.color = 'red';
                        this.response.message = message[errorCode];
                    });
                },

                resetResponse(){
                        this.response.color ='';
                        this.response.message = '';
                        this.alert = false;
                },
                mostrar(){
                        this.mostrarSenha = !this.mostrarSenha;
                        if (this.mostrarSenha){
                            this.tipo = 'text'
                        } else {
                            this.tipo = 'password'
                        }
                },
            },
    }

</script>