<template>
    <NavbarLayout>
        <template #cabecalho>
            <div class="flex justify-items-end">Listas de inscritos</div>
        </template>

        <template #conteudo>
            <div class="flex flex-col md:flex-row w-full h-full gap-2">
                <div class="basis-2/3 bg-blue-300 ">

                    <div id="app">
                        <ckeditor :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>
                    </div>

                </div>
                <div class="basis-1/3 bg-red-400 ">b</div>
            </div>
        </template>

    </NavbarLayout>
</template>

<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import NavbarLayout from '@/components/layouts/NavbarLayout';
    export default {
        name:'app',
        components:{
            NavbarLayout,
        },

        data() {
            return {
                // eslint-disable-next-line no-undef
                editor: ClassicEditor,
                editorData: '<p>Content of the editor.</p>',
                editorConfig: {
                    
                    toolbar: {
                        items: [
                        'heading', '|',
                        'fontfamily', 'fontsize', '|',
                        'alignment', '|',
                        'fontColor', 'fontBackgroundColor', '|',
                        'bold', 'italic', 'strikethrough', 'underline', 'subscript', 'superscript', '|',
                        'link', '|',
                        'outdent', 'indent', '|',
                        'bulletedList', 'numberedList', 'todoList', '|',
                        'code', 'codeBlock', '|',
                        'insertTable', '|',
                        'uploadImage', 'blockQuote', '|',
                        'undo', 'redo'
                        ],
                        shouldNotGroupWhenFull: true
                    }


                }
            };
        }
    }
</script>
