<template>
    <div>
        <NavbarLayout>
            <template #cabecalho>
                <div class="flex justify-items-end">Cadastro Todo</div>
            </template>
            <template #conteudo>
                <TabelaTodos/>      
            </template>
        </NavbarLayout>
    </div>
</template>

<script>
    import NavbarLayout from '@/components/layouts/NavbarLayout';
    import TabelaTodos from '@/components/tabelaTodos.vue';

    export default {
        // eslint-disable-next-line vue/multi-word-component-names
        name: 'Todo',

        components:{
            NavbarLayout,
            TabelaTodos,
        },   

    }
</script>