<template>
    <div class="flex justify-center">
       
        <div v-if="sucesso" class='bg-green-200 flex p-4 mb-4 text-sm rounded-lg' >
            <div class="text-green-700">
                <span class="font-medium">{{response.message}}</span> 
            </div>
        </div>

        <div v-if="erro" class='bg-red-200 flex p-4 mb-4 text-sm rounded-lg' >
            <div class="text-red-700">
                <span class="font-medium">{{response.message}}</span> 
            </div>
        </div>


    </div>
</template>

<script>
    import message from '@/utils/message'
    export default{
        name: 'verifyEmail',

        data(){
            return{
                token: '',
                sucesso: false,
                erro: false,

                response:{
                    color: '',
                    message:'',
                },

                spinner:{
                    verify_email:false,
                },
            };
        },

        created (){
            this.token = this.$route?.query?.token || '';
            this.verify_email();
        },

        methods:{
            verify_email(){
                this.$axios.post('/v1/verify-email', {token: this.token}).then(() => {
                    this.response.color = 'green';
                    this.response.message = 'E-mail verificado com sucesso.';
                    this.sucesso = true;
                }).catch((e) => {
                    const errorCode = e?.response?.data?.error || 'serverError';   
                    this.response.color = 'red';
                    this.response.message = message[errorCode];
                    this.erro = true;
                }).finally (() => {
                    this.spinner.verify_email = false;
                });
            },
        },
    }
</script>