<template>
    <div>

    <div class="flex bg-blue-900">
      <div
        class="bg-dark-purple h-screen p-5  pt-8 relative duration-300"
      >
        <img
          src=""
          class="absolute cursor-pointer -right-3 top-9 w-7 border-dark-purple
           border-2 rounded-full"
        />
        <div class="flex gap-x-4 items-center">
          <img
            src=""
            class="cursor-pointer duration-500"
          />
          <h1
            class="text-white origin-left font-medium text-xl duration-200 scale-0"
          >
            Designer
          </h1>
        </div>
        <ul class="pt-6">
            <li
              class="flex  rounded-md p-2 cursor-pointer hover:bg-light-white text-gray-300 text-sm items-center gap-x-4"
            >
              <img src="" />
              <span class="origin-left duration-200">
                menu titulo
              </span>
            </li>
        </ul>
      </div>
      <div class="h-screen flex-1 p-7">
        <h1 class="text-2xl font-semibold ">Home Page</h1>
      </div>
    </div>
    </div>
</template>

<script>
    export default {
        name:  'NavBar',

        data(){
            return {
                open: true,


            }
        }
    }
</script>