<template>
  <div class="bg-gray-100  font-[Poppins]">
      <span class="absolute text-white text-4xl top-5 left-4 cursor-pointer bg-red-600" @click="Openbar()">
        <i class="bi bi-filter-left px-2 bg-gray-900 rounded-md"></i>
      </span>
      <div class="sidebar fixed top-0 bottom-0 
          p-2 w-[300px] text-center bg-gray-900 shadow h-screen">
          <div class="text-gray-100 text-xl">
          <div class="p-2.5 mt-1 flex items-center rounded-md">
              <i class="bi bi-app-indicator px-2 py-1 bg-blue-600 rounded-md " @click="Openbar()"></i>
              <h1 class="text-[15px]  ml-3 text-xl text-gray-200 font-bold">Tailwindbar</h1>
          </div>
          <hr class="my-2 text-gray-600">

          <div>
          <div class="p-2.5 mt-3 flex items-center rounded-md 
              px-4 duration-300 cursor-pointer  bg-gray-700">
              <i class="bi bi-search text-sm"></i>
              <input class="text-[15px] ml-4 w-full bg-transparent focus:outline-none" placeholder="Serach" />
          </div>

          <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
              <i class="bi bi-house-door-fill"></i>
              <span class="text-[15px] ml-4 text-gray-200">Home</span>
          </div>
          <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
              <i class="bi bi-bookmark-fill"></i>
              <span class="text-[15px] ml-4 text-gray-200">Bookmark</span>
          </div>

          <hr class="my-4 text-gray-600">

          <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
              <i class="bi bi-envelope-fill"></i>
              <span class="text-[15px] ml-4 text-gray-200">Messages</span>
          </div>

          <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
              <i class="bi bi-chat-left-text-fill"></i>
              <div class="flex justify-between w-full items-center" @click = "dropLista()">
                  <span class="text-[15px] ml-4 text-gray-200">Listas</span>
                  <span class="text-sm rotate-180" id="dropImgLista"> 
                      <i class="bi bi-chevron-down"></i> 
                  </span>
              </div>
          </div>
          <div :class="` leading-7 text-left text-sm font-thin mt-2 w-4/5 mx-auto ${hiddenDrop.listaText}`" id="submenu">
              <h1 class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1">Criar</h1>
              <h1 class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1">Consultar</h1>
          </div>

          <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-blue-600">
            <i class="bi bi-box-arrow-in-right"></i>
              <div class="flex justify-between w-full items-center" @click = "dropLogout()">
                  <span class="text-[15px] ml-4 text-gray-200">{{$store.state.user.user.first_name}}</span>
                  <span class="text-sm rotate-180" id="dropImgLogout"> 
                      <i class="bi bi-chevron-down"></i> 
                  </span>
              </div>
          </div>
          <div :class="` leading-7 text-left text-sm font-thin mt-2 w-4/5 mx-auto ${hiddenDrop.logoutText}`" id="submenu">
            <router-link class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1" to="/perfil" @click="Openbar()">Meu perfil</router-link>  
              <h1 class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1">Sair</h1>
          </div>
        </div>
      </div>
    </div>

    <slot></slot>
    
    <div>
    </div>

  </div>  
</template>

<script>
    export default {
        name: 'NavBar',

        data(){
            return {
                firstName: '',

                hiddenDrop: {
                    logout: false,
                    logoutText: 'hidden',
                    lista: false,
                    listaText: 'hidden',
                },

                
            };
        },

        created() {
            this.firstName = this.$store.state.user.user.first_name;
        },

        methods:{
            dropLogout() {
                if (this.hiddenDrop.logout){
                   this.hiddenDrop.logoutText = 'hidden';
                   this.hiddenDrop.logout = false;
                } else {
                   this.hiddenDrop.logoutText = '';
                   this.hiddenDrop.logout = true;
                }
                document.querySelector('#dropImgLogout').classList.toggle('rotate-0');
            },

            dropLista() {
                if (this.hiddenDrop.lista){
                   this.hiddenDrop.listaText = 'hidden';
                   this.hiddenDrop.lista = false;
                } else {
                   this.hiddenDrop.listaText = '';
                   this.hiddenDrop.lista = true;
                }
                document.querySelector('#dropImgLista').classList.toggle('rotate-0');
            },


            Openbar() {
              document.querySelector('.sidebar').classList.toggle('left-[-300px]');
            },
        },

    }
</script>