<template>
  <div>
    <TodoCardShow
        v-if="isShowing"
        :todo="todo"
        @update="changeStateToUpdate"
        @delete="changeStateToDelete"
    />
        

    <TodoCardUpdate 
        v-if="isUpdating"
        :todo="todo"
        @cancel="changeStateToShow"
    />
       

    <TodoCardDelete 
        v-if="isDeleting"
        :todo="todo"
        @cancel="changeStateToShow"
        @afterDeleting="afterDeleting"
    />
  </div>  
</template>

<script>
    import TodoCardShow from './TodoCardShow.vue';
    import TodoCardUpdate from './TodoCardUpdate.vue';
    import TodoCardDelete from './TodoCardDelete.vue';

    export default {
        name: 'TodoCard',

        components:{
            TodoCardShow,
            TodoCardUpdate,
            TodoCardDelete,
        },

        props:{
            todo: {
                type: Object,
                default: () => ({}),
            }
        },

        data(){
            return {

            };
        },

        computed:{
            isShowing(){
                return this.todo.state ==='show';
            },
            
            isUpdating(){
                return this.todo.state ==='update';
            },
            
            isDeleting(){
                return this.todo.state ==='delete';
            },
        },

        methods:{
            changeStateToShow(){
                // eslint-disable-next-line vue/no-mutating-props
                this.todo.state = 'show';
            },

            changeStateToUpdate(){
                // eslint-disable-next-line vue/no-mutating-props
                this.todo.state = 'update';
            },

            changeStateToDelete() {
                // eslint-disable-next-line vue/no-mutating-props
                this.todo.state = 'delete';
            },  

            afterDeleting(todo){
                this.$emit('afterDeleting', todo);
            },
        },
    }
</script>