<template>
    <div class="flex mt-1">
        <input 
            v-model="v$.localLabel.$model"
            type="text"
            ref="label"
            placeholder="Digite o nome de sua lista"
            class="bg-gray-200 placeholderbg-gray-500 text-gray-700 font-light focus:outline-none block w-full"
        >
        <p v-if="v$.localLabel.$error" class="text-xs text-red-700">Campo obrigatório</p>

        <div class="bg-gray-200 flex justify-center items-center gap-2">
            <button
                type="submit"
                class="bg-blue-700 text-blue-100 text-xs font-semibold px-2.5 py-1 rounded focus:outline-none"
                @click.stop.prevent="onCancel()"
            >
                Cancelar
            </button>

            <button
                type="submit"
                @click.stop.prevent="onSave"
                class="bg-blue-700 text-blue-100 text-xs font-semibold px-2.5 py-1 rounded focus:outline-none"
            >
                OK
            </button>
        </div>
    </div>
</template>

<script>
    import useVuelidate from '@vuelidate/core';
    import { required } from '@vuelidate/validators';
    export default {
        name: 'TodoCardUpdate',

        setup () {
            return { v$: useVuelidate() }
        },

        props:{
            todo: {
                type: Object,
                default: () => ({}),
            }
        },

        data(){
            return{
                localLabel: this.todo.label,
            };
        },

        validations(){
            return {
                localLabel:{required},
            }
        },

        mounted(){
            this.$refs.label.focus();
        },

        methods:{
            onCancel(){
                this.$emit('cancel');
            },

            async onSave(){
                const validar = await this.v$.$validate();
                
                if (!validar) {return;}

                const payload = {
                    label: this.localLabel,
                };

                this.$axios.put(`v1/todos/${this.todo.id}`, payload).then(()=>{
                    // eslint-disable-next-line vue/no-mutating-props
                    this.todo.label = this.localLabel;
                    this.onCancel();
                });
            },
        },

       
    }
</script>