<template>
    <div class="flex flex-row bg-gray-300 rounded-sm px-4 h-15 mb-2">
        <div class="basis-3/5 text-gray-700 font-light truncate">
            {{todo.label}}
        </div>
        <div class="basis-2/5 flex justify-center items-center">
           
                <button class="p-2"
                    @click.stop.prevent="onUpdate()"
                    >
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M18.62,1.5C18.11,1.5 17.6,1.69 17.21,2.09L10.75,8.55L14.95,12.74L21.41,6.29C22.2,5.5 22.2,4.24 21.41,3.46L20.04,2.09C19.65,1.69 19.14,1.5 18.62,1.5M9.8,9.5L3.23,16.07L3.93,16.77C3.4,17.24 2.89,17.78 2.38,18.29C1.6,19.08 1.6,20.34 2.38,21.12C3.16,21.9 4.42,21.9 5.21,21.12C5.72,20.63 6.25,20.08 6.73,19.58L7.43,20.27L14,13.7" />
                    </svg>
                </button>
           
                <button
                    @click.stop.prevent="onDelete()"
                    >
                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path fill="currentColor" d="M9,3V4H4V6H5V19A2,2 0 0,0 7,21H17A2,2 0 0,0 19,19V6H20V4H15V3H9M7,6H17V19H7V6M9,8V17H11V8H9M13,8V17H15V8H13Z" />
                    </svg>
                </button>

        </div>
    </div>
</template>

<script>
    export default {
        name: 'TodoCardShow',

        props: {
            todo: {
                type: Object,
                default: () => ({}),
            },
        },

        data() {
            return {

            };
        },

        methods: {
            onUpdate(){
                this.$emit('update');
            },

            onDelete(){
                this.$emit('delete');
            },
        },
    }
</script>